button a{
    color: #fff;
  }
  .about-us__social__group{
    display: flex;
    align-items: center;
  }
  .about-us__social__group  .tooltype__item{
   margin-left: 10px;
  }
  .left-image .advantages__img{
    --img_order: 0;
  }
  .right-image .advantages__img{
    --img_order: 1;
  }
    .left-image .advantages__img{
      border-bottom-left-radius: var(--item_radius);
      border-top-right-radius: 0;
    }
    .left-image .advantages__content{
      border-bottom-left-radius: 0;
      border-top-right-radius: var(--item_radius);
    }
    .right-image .advantages__img{
      border-top-right-radius: var(--item_radius);
      border-bottom-right-radius: var(--item_radius);
      border-top-left-radius: 0;
    }
    .right-image .advantages__content{
      border-top-left-radius: var(--item_radius);
      border-bottom-left-radius: var(--item_radius);
      border-bottom-right-radius: 0;
    }
  .about_content_slide_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.about-us__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(50% - 15px) auto;
    grid-template-columns: calc(50% - 15px) auto;
    gap: 30px;
    height: 100%;
  }
  .about-us__block_full{
    -ms-grid-columns: 100% auto;
    grid-template-columns: 100% auto;
  }
.about-us__block_70{
  -ms-grid-columns: calc(70% - 15px) auto;
  grid-template-columns: calc(70% - 15px) auto;
}
.about-us__block_50{
  -ms-grid-columns: calc(50% - 15px) auto;
  grid-template-columns: calc(50% - 15px) auto;
}
.about-us__block_30{
  -ms-grid-columns: calc(30% - 15px) auto;
  grid-template-columns: calc(30% - 15px) auto;
}
.information__item_active .information__tab span{
  color: var(--button_hover_nobg_color);
}
.information__item_active .information__tab .icon-wrapper-14 {
  color: var(--icon_color-primary);
}
.information__item_active .information__hover-item {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.products__left_image .products__card{
  display: flex;
}
.products__left_image .products__img {
  max-height: none;
  border-bottom-left-radius: var(--item_radius);
  border-top-right-radius: 0;
  overflow: hidden;
  width: 50%;
}

.products__left_image .products__content {
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--item_radius);
  width: 50%;
}
